<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">
       
       <h2>List All Students Created, <%= current_user.username %></h2>
<ul>
<% students.each do |s| %>
 <li>
   <a href="/student/<%= s.id %>"><%= s.name %></a> 
 </li>
<% end %>
</ul>
<h2>Add Student</h2>
    <form method="post" action="/student">
		  <label for="name">Name: </label>
   <input type="text" name="name">
   <label for="age">Age: </label>
   <input type="text" name="age">
   <input type ="submit" value="Add Student">
      </form>
    </div>
  </div>
</body>