

<h1>List of all Students</h1>
 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><li><a href="/students/<%=student.id %>"><%=student.name %></a></li></td>
        <td><%= student.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
 
<p class="links"><a href="/students/new">New Student</a></p>