

<h1>List of all Students</h1>
 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
      </tr>
    <% end %>

    <td><p class="links"><a href="/students/show">Individual Student</a></p></td>
    <td><p class="links"><a href="/students/edit">Edit </a></p></td>
    <td><p class="links"><a href="/students/delete">Delete</a></p></td>
  </tbody>
</table>
 
<br>
 
<p class="links"><a href="/students/new">New Student</a></p>