<h1>What Activies would you like to do today?</h1>
<form method="POST" action="/activities">
  <div class="form-group">
    <label for="title">Title </label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>
  <div class="form-group">
    <label for="Instructions">Instructions </label>
    <input type="text" class="form-control" id="instructions" name="instructions" required>
  </div>
  <div class="form-group">
  <strong><u>Tags (Please select all that apply)</u></strong>:<br>
    <% @tags.each do |t| %>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="tags[tags_ids][]" value="<%=t.id%>">
          <%=t.name%>
      </label>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <p><u>or create new tags:</u></p>
    <label for="tagsname">Lesson Type:</label>
    <input type="text" class="form-control" id="tagsname" name="tags[name]">
  </div>
  <br><br>
  <button type="submit" class="btn btn-primary" style="margin-bottom: 20px">Sneakily Add New Activies</button>
</form>