
<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">
    
        <p>Want to add a new file?</p>
        <p>Click on the "Choose File" button to upload a file:</p>

        <form action="/students/images">
        <input type="file" id="myFile" name="filename">
        <input type="submit">
        </form>
    </div>
  </div>
</body>