<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">

      <h3>All Users</h3>

      <% @users.each do |user| %>
      <p> <a href="/users/<%=user.id%>"> <%= user.username.titleize %> </a></p>
      <%end%>
      </div>
  </div>
</body>