<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">
      <h1>Welcome Back, Sneaky Teacher! Log In to your Account</h1>
        <h6>Don't have an account yet? <a href="/signup">Sign Up for one Here</a></h6>
        <form method="POST" action="/login">
        <label><strong>Email: *</strong></label><br>
        <input type="text" name="email" required><br>
        <label><strong>Password: *</strong></label><br>
        <input type="password" name="password"><br>
        <br>
        <input class="btn btn-info" type="submit" value="Log In">
        </form>
    </div>
  </div>
</body>