<h1>Welcome Back, <%= current_user.username %>! Please Select Your Student</h1>
<% if @students.empty? %>

<h2>Create a New Student</h2>
<br><br>
<form method="POST" action="/students">
  <div class="form-group">
  Name: *<br>
  <input type="text" name="name" value="" required>
  <br>
  Age: *<br>
  <input type="text" name="age" value="" required>
  <br><br>
  <input type="submit" value="Submit">
</form> 
<br><br>
  <strong><u>Image (Add an Image for your student Here... )</u></strong>:<br>
    <% @students.each do |s| %>
    <% activities = Activity.find(s.activities_title) %>
    <div class="form-group">
      <form action="/students/images">
        <input type="file" name="image" name="filename">
        <input type="submit">
        <input type="file" name="pic" accept="image/*">

        <input action="/students/images" type="checkbox" name="image" value="<% s.image %>">
          <% s.name %>

            <% end %> 
            <% else %>
            <% @students.all.each do |s|%>
              <% unless s.user_id == @user.id %>
              <a href="/students/landingpages"><Student Activities ></a>
               <% end %>
            <% end %>   
  <% end %>
  </div>
</form>