<h1>Welcome Back, <%= current_user.username %>! Please Select Your Student</h1>
<% if @students.empty? %>

<h2>Create a New Student</h2>
<br><br>
<form method="POST" action="/students">
  <div class="form-group">
    <label for="name">Name *</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="age">Age *</label>
    <input type="text" class="form-control" id="age" name="age" required>
  </div>
  <div class="form-group">
  <strong><u>Image (Add an Image for your student Here... )</u></strong>:<br>
    <% @students.each do |s| %>
    <% activities = Activity.find(s.activities_title) %>
    <div class="form-group">
      <form action="/action_page.php">
        <input type="file" name="pic" accept="image/*">
        <input type="submit">
        <input action="/students/images" type="checkbox" name="image" value="<% s.image %>">
          <% s.name %>

            <% end %> 
            <% else %>
            <%@students.each do |s|%>
              <a href="/students/landingpages"><%= student.activity.title %></a>
               <% end %>
  <% end %>
  </div>
</form>