<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">
         
       <h2>List All Students Created, <%= current_user.username %></h2>
<ul>
<% @user.students.each do |s| %> 
 <h3><li>
   <a href="/student/<%= s.id %>"><%= s.name %> ,<%= s.age %> </a> 
 </li></h3>
</ul>
<% end %>
<br><br>
   
   </div>
  </div>
</body>