<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">
      <h1>Welcome Back <%= @user.username %></h1>
        <h6>Please select a student: <a href='/student/<%=student/id %>%'></a></h6>
          <form method="POST" action='/students'>
            <label><strong>Student Name</strong></label><br>
            <input type="text" name="name" required><br>
            <label><strong>Email: *</strong></label><br>
            <input type="text" name="email" required><br>
            <label><strong>Create a Password: *</strong></label><br>
            <input type="password" name="password" required><br>
            <br>
            <input class="btn btn-info" type="submit" value="Create New Student">
          </form>
        </div>
      </div>
  </body>