<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">
      <h1>Welcome Sneaky Teachers</h1>
        <h6>Please create an account: <a href='/login'>(Already have an account? Log In Here)</a></h6>
          <p><%= @error %></p>
          <form method="POST" action='/signup'>
            <label><strong>Username: *</strong></label><br>
            <input type="text" name="username" required><br>
            <label><strong>Email: *</strong></label><br>
            <input type="text" name="email" required><br>
            <label><strong>Create a Password: *</strong></label><br>
            <input type="password" name="password" required><br>
            <br>
            <input class="btn btn-info" type="submit" value="Create my Account">
          </form>
        </div>
      </div>
  </body>