<!DOCTYPE html>
<html>
<body>

<h2>Create a New Student</h2>

<form action="/action_page.php">
  
  Name:<br>
  <input type="text" name="name" required>
  <br>
  Age:<br>
  <input type="number" name="age" required>
  <br>
  <br>
  <input type="submit" value="Submit"><br>
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>