<div class="container">
  <header><img src="images/sneakyteacher.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">

  <a class="btn btn-info" href="/login" role="button">Log In</a>
      <a class="btn btn-info" href="/signup" role="button">Sign Up</a>
     


    <h2>Sneaky Teacher</h2>
      
    <div class="content">
      <p>Welcome to the Sneaky Teacher App! This application is designed to provide a database of lessons that promotes learning through phyical and kinetic activities for your Reluctant Learners. A Reluctant Learner is one who "is not interested in life at all, is not interested in what you are teaching, and is not able to learn in the time-frame or manner of presentation" according to Joyce Herzog (2002).
      </p>

</div>
